---
import BaseLayout from '../components/BaseLayout.astro';
export const prerender = true;
---

<BaseLayout title="About | WasteWise">
    <section class="simple-section simple-section-centered">
        <h1 class="simple-title">About WasteWise</h1>
        <p class="simple-subtitle">Learn more about our mission to save the planet.</p>
    </section>
</BaseLayout>
