---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Contact | WasteWise">
    <section class="simple-section simple-section-centered">
        <h1 class="simple-title">Coming Soon</h1>
        <p class="simple-subtitle">We are currently working on the Contact page.</p>
    </section>
</BaseLayout>
