---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Quiz | WasteWise">
    <section class="simple-section">
        <h1 class="simple-title tight">Quiz</h1>
            <p class="simple-subtitle tight">Coming soon</p></section></BaseLayout>