---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Quiz | WasteWise">
	<Fragment slot="head">
		<script src="https://tally.so/widgets/embed.js" async></script>
	</Fragment>

	<section class="simple-section results-container">
        <h1 class="simple-title quiz-title">WasteWise Quiz</h1>
        <p class="simple-subtitle tight quiz-subtitle">Test your recycling knowledge</p>
        <div class="quiz-iframe-wrapper">
            <iframe
                data-tally-src="https://tally.so/embed/0QM890?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
                loading="lazy"
                width="100%"
                height="600"
                title="WasteWise Quiz"
                class="quiz-iframe"
            ></iframe>
        </div>
    </section>
</BaseLayout>